.users-grid {
  padding-top: 40px;
  margin-left: 210px;
}

.users-grid.disabled {
  display: none;
}

.users-additional-grid {
  padding-top: 40px;
}

.grid-function {
  background-color: #d9d9d9;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown__label {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
}

.role {
  background-color: #fff;
}

.data-pagination {
  border-color: transparent;
  border-radius: 5px;
  background-color: #fff;
  width: 254px;
  height: 31px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 3px;
}

.grid-buttons {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.users-grid__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.users-grid__button:last-child {
  margin-right: 0;
}

.users-grid__img {
  background-color: transparent;
}

.warn_message.disabled {
  display: none;
}


@media (max-width: 900px) {
  .users-grid {
    margin-left: 100px;
  }
}

@media (max-width: 720px) {
  .grid-function {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .grid-buttons {
    margin-top: 30px;
  }
}

@media (max-width: 550px) {
  .users-grid {
    margin-left: 0;
  }

  .grid-buttons {
    width: 160px;
  }
  .users-grid__button {
    margin-right: 15px;
  }
}

@media (max-width: 410px) {
  .dropdown__label {
    font-size: 14px;
  }

  .data-pagination {
    width: 200px;
    height: 31px;
    font-size: 14px;
  }
}

@media (max-width: 340px) {
  .dropdown__label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .data-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .users-grid__img {
    width: 25px;
  }
}

@media (max-width: 240px) {
  .data-pagination {
    width: 160px;
    height: 31px;
  }
}
