* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.main-page--hidden {
    display: none;
}

.main-page {
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    height: 100vh;
    padding-top: 60px;
    position: relative;
}

.main-page__info {
    margin-left: 220px;
}

.page-info__icon {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-info__img {
    object-fit: cover;
}

.page-info__username {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page-info__edit {
    margin-top: 20px;
    width: 240px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #146fe7;
    color: #fff;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.main-page-info__edit:hover {
    animation: pulse 0.3s forwards 1;
}

.main-page__data {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.page__nav-list {
    width: 17%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page__nav-link {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.page__nav-link.active {
    color: #0057c9;
}

.main-page__personal-data {
    padding: 15px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 70%;
}

.personal-data__header {
    color: #000;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.personal-data__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.personal-data__padding {
    padding-bottom: 20px;
}

.personal-data__title {
    color: #999;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.personal-data__info {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.personal-data__mobile-email {
    display: none;
}

@media (max-width: 1200px) {
    .main-page__data {
        width: 50%;
    }
    
    .main-page__personal-data {
        width: 90%;
    }
    
    .page__nav-list {
        width: 40%;
    }
    
    .personal-data__title {
        font-size: 14px;
    }
    
    .personal-data__info {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .main-page__data {
        width: 48%;
    }
    
    .main-page__info {
        margin-left: 190px;
    }
}

@media (max-width: 900px) {
    .main-page {
        height: 100%;
        align-items: center;
        padding-bottom: 20px;
    }
    
    .main-page__nav {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    
    .main-page__data {
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    
    .main-page__info {
        margin-left: 0;
    }
    
    .change__img-button.active {
        position: absolute;
        top: 42px;
        left: -100px;
    }
    
    .page__nav-list {
        padding-bottom: 50px;
    }
    
    .main-page {
        flex-direction: column;
    }
    
    .main-page__personal-data {
        padding-top: 20px;
        margin: 0 auto;
    }
}

@media (max-width: 750px) {
    .main-page__data {
        width: 70%;
    }
    
    .main-page__personal-data {
        margin-left: 10px;
        width: 100%;
    }
    
    .main-page__info {
        padding-left: 40px;
        margin: 0 auto;
    }
    
    .page__nav-list {
        margin-left: 10px;
    }
}

@media (max-width: 550px) {
    .page__nav-list {
        width: 50%;
    }
    
    .personal-data__title {
        font-size: 12px;
    }
    
    .personal-data__info {
        font-size: 12px;
    }
}

@media (max-width: 487px) {
    .page-info__icon {
        width: 89%;
    }
    
    .main-page__info {
        margin: 0 auto;
    }
    
    .main-page__data {
        margin: 0 auto;
        width: 85%;
    }
    
    .main-page__personal-data {
        margin-left: 0;
    }
    
    .personal-data__wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .personal-data--mobile {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    
    .personal-data__title {
        font-size: 10px;
    }
    
    .personal-data__info {
        font-size: 10px;
    }
    
    .personal-data__desktop-email {
        display: none;
    }
    
    .personal-data__mobile-email {
        display: flex;
    }
    
    .personal-data__padding {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 30%;
    }
    
    .main-page__personal-data {
        width: 80%;
    }
    
    .main-page-info__edit {
        width: 200px;
        height: 40px;
    }
    
    
    .main-page__personal-data {
        width: 95%;
    }
}

@media (max-width: 370px) {
    .main-page__info {
        padding-left: 0;
        width: 70%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .main-page__data {
        margin: 0 auto;
    }
    
    .main-page-info__edit {
        margin-left: 0;
        width: 150px;
        height: 35px;
    }
    
}

@keyframes pulse {
    100% {
        transform: scale(1.2);
    }
}
