* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.aside-content--signUp {
  height: 1000px;
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 440px;
  background-color: #f8f3ff;
}

.img__wrapper {
  margin: 0 auto;
  width: 220px;
  height: 220px;
  background-color: #fff;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper-signUp {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  align-self: center;
  flex-direction: column;
  text-align: center;
  width: 70%;
}

.form-wrapper-signUp--mobile {
  display: none;
}

.signUp__form {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-direction: row;
  align-items: flex-end;
}

.left__form {
  display: flex;
  margin-right: 20px;
  width: 43%;
  flex-direction: column;
}

.right__form {
  width: 43%;
  flex-direction: column;
  padding-bottom: 68px;
}

.form-wrapper-signUp__title {
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 5px;
}

.form-wrapper-signUp__info {
  color: #999;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 75px;
}

.form__password-signUp {
  position: relative;
}

.form__rePassword-signUp {
  position: relative;
}

.hiding__icon-signUp {
  position: absolute;
  top: 32px;
  right: -23px;
  cursor: pointer;
}

.hiding__icon-signUp::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 0;
  width: 21px;
  height: 2px;
  background-color: #000;
  transform: rotate(45deg);
  transition: 0.3s all ease;
}

.hiding__icon-signUp.disabled::after {
  display: none;
}

.form--signUp {
  margin-top: 20px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  padding: 3px;
}

.account__info-signUp-text {
  text-align: center;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.account__info-signUp-link {
  margin-top: 10px;
  text-decoration: none;
  margin-left: 5px;
  color: #146fe7;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.submit__button-signUp {
  margin-top: 100px;
  width: 150px;
  height: 40px;
  border: none;
  background-color: #146fe7;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 38px;
  cursor: pointer;
  border-radius: 5px;
}

.submit__button-signUp:hover {
  animation: pulse 0.3s forwards 1;
}

.form__label {
  text-align: left;
  color: #e31717;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

::placeholder {
  color: #c1bbbb;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
}

@media (max-width: 1130px) {
  .aside-content--signUp {
    width: 300px;
  }
}

@media (max-width: 970px) {
  .aside-content--signUp {
    display: none;
  }
  .form-wrapper-signUp {
    padding-top: 90px;
    width: 100%;
    padding-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .form-wrapper-signUp {
    display: none;
  }

  .form-wrapper-signUp--mobile {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    align-self: center;
    flex-direction: column;
    text-align: center;
  }

  .form-wrapper-signUp__title {
    font-size: 25px;
  }
  .form-wrapper-signUp__info {
    font-size: 14px;
  }
  .signUp__form {
    width: 100%;
    flex-direction: column;
  }
  .form--signUp {
    width: 300px;
    height: 48px;
  }

  .hiding__icon-signUp {
    position: absolute;
    width: 14px;
    top: 33px;
    right: 10px;
    cursor: pointer;
  }

  .hiding__icon-signUp::after {
    top: 11px;
    right: -3px;
    height: 2px;
    width: 18px;
  }
}

@media (max-width: 470px) {
  .form--signUp {
    width: 300px;
    height: 40px;
  }
}

@media (max-width: 350px) {
  .form--signUp {
    width: 250px;
    height: 40px;
  }
}

@media (max-width: 290px) {
  .form--signUp {
    width: 200px;
    height: 40px;
  }

  .signUp__form {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 290px) {
  .form--signUp {
    width: 160px;
    height: 40px;
  }
}

@keyframes pulse {
  100% {
    transform: scale(1.2);
  }
}
