* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.aside-content {
  height: 1000px;
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 440px;
  background-color: #f8f3ff;
}

.img__wrapper {
  margin: 0 auto;
  width: 220px;
  height: 220px;
  background-color: #fff;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper-signIn {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  align-self: center;
  flex-direction: column;
  text-align: center;
}

.form-wrapper__title-signIn {
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 5px;
}

.form-wrapper__info-signIn {
  color: #999;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 75px;
}

.form__password {
  position: relative;
}

.hiding__icon-signIn {
  position: absolute;
  top: 32px;
  right: 9px;
  cursor: pointer;
}

.hiding__icon-signIn::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 0;
  width: 21px;
  height: 2px;
  background-color: #000;
  transform: rotate(45deg);
  transition: 0.3s all ease;
}

.hiding__icon-signIn.disabled::after {
  display: none;
}

.email--signIn,
.password--signIn {
  margin-top: 20px;
  padding: 5px 0;
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  padding: 3px;
}

.account__info-text {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.account__info-link {
  text-decoration: none;
  margin-left: 5px;
  color: #146fe7;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.submit__button-signIn {
  margin-top: 100px;
  width: 150px;
  height: 40px;
  border: none;
  background-color: #146fe7;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 38px;
  cursor: pointer;
  border-radius: 5px;
}

.submit__button-signIn:hover {
  animation: pulse 0.3s forwards 1;
}

.form__label {
  text-align: left;
  color: #e31717;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 250px;
}

::placeholder {
  color: #c1bbbb;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
}

@media (max-width: 1000px) {
  .aside-content {
    width: 250px;
  }
  .form-wrapper-signIn {
    padding-top: 240px;
  }
}

@media (max-width: 744px) {
  .form__email,
  .form__password {
    margin: 0 auto;
    width: 350px;
  }

  .email--signIn,
  .password--signIn {
    width: 100%;
  }

  .aside-content {
    display: none;
  }
  .form-wrapper-signIn {
    padding-top: 240px;
  }
}

@media (max-width: 500px) {
  .form-wrapper-signIn {
    padding-top: 240px;
  }
  .form-wrapper__title-signIn {
    font-size: 25px;
  }
  .form-wrapper__info-signIn {
    font-size: 14px;
  }
  .email--signIn,
  .password--signIn {
    width: 100%;
    height: 37px;
  }
  .hiding__icon-signIn {
    position: absolute;
    width: 14px;
    top: 32px;
    right: 15px;
    cursor: pointer;
  }

  .hiding__icon-signIn::after {
    top: 11px;
    right: -3px;
    height: 2px;
    width: 18px;
  }

  .form__email,
  .form__password {
    margin: 0 auto;
    width: 300px;
  }
}

@media (max-width: 350px) {
  .form__email,
  .form__password {
    margin: 0 auto;
    width: 250px;
  }
}

@media (max-width: 300px) {
  .form__email,
  .form__password {
    margin: 0 auto;
    width: 220px;
  }
  .form__label {
    width: 180px;
  }
}

@media (max-width: 260px) {
  .form__email,
  .form__password {
    margin: 0 auto;
    width: 180px;
  }
}

@keyframes pulse {
  100% {
    transform: scale(1.2);
  }
}
